body {
    background-image:url(../images/new_password_logo.png);
    /* background-size:100%; */
    background-repeat:no-repeat;
    background-color:#001d27;
    background-attachment:fixed; 
    background-position:center center;
  }

#logo {
    margin-top:20px;
}
