@charset "EUC-KR";
@import url(font.css);

body {
    background:#001d27;
    color:#f2c200;
    font-family:daylight;
}

#logo {
    margin-top:20px;
}

input.form-control{
    border: 4px solid #f2c200;
}

label {
    color:#f2c200;
    font-weight:bold;
}

p.mb-1 {
    color:#f1f1f1;
}

button.btn-warning {
    font-weight:bold;
}