body {
    background-image:url(../images/whatiscatchmind.png);
    /* background-size:100%; */
    background-repeat:no-repeat;
    background-color:#001d27;
    background-attachment:fixed; 
    background-position:center center;
  }