html
  head
    title NOTICE WRITE
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
    link(rel='stylesheet', href='css/notice_write.css', type='text/css')
    script.
      function data() {
      alert('addaf');
      var category = document.getElementByName("notice_cate").value;
      alert(category);
      // form.submit();
      }
  body
    main(role='main')
      // 배너자리
      // <img src="images/background.png"/>
      center
        img(src='images/background.png')
      include header.html
      .container(style='margin-top:20px')
        form(name='form', method='POST', action='/notice/create')
          .input-group.mb-3
            .input-group-prepend
              label.input-group-text.label_notice_cate(for='notice_cate') CATEGORY
            select#notice_cate.custom-select.select_notice_cate(name='notice_cate')
              option(selected='') 카테고리를 선택하세요.
              option(value='gongi') 공지사항
              option(value='event') 이벤트
              option(value='patch') 패치내역
          .form-group
            label(for='notice_title') TITLE
            textarea#notice_title.form-control(name='title', rows='1')
          .form-group
            label(for='notice_content') CONTENT
            textarea#notice_content.form-control(name='content', rows='10')
          #notice_btn.btn-group(role='group')
            button.btn.btn-warning(type='submit') WRITE
            a.btn.btn-warning.cancel_btn(href='notice.html') CANCEL
        hr
    footer.container
      p © Company 2017-2018
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
